/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f0f0f0;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: #ddd;
  }
  
  .content {
    margin-left: 250px;
    padding: 20px;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  .section h2 {
    font-size: 2rem;
    color: #003225;
    margin-bottom: 10px;
  }
  
  .section .p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
  }
  